{
   "openapi": "3.0.1",
   "info": {
      "title": "Bons de réduction Décathlon",
      "description": "https://api.decathlon.com/coupon/ specs",
      "contact": {
         "name": "demo",
         "email": "demo@axway.com"
      },
      "version": "1.0",
      "x-summary": "A fond la forme!"
   },
   "security": [
      {
         "API Key": []
      }
   ],
   "tags": [
      {
         "name": "coupon"
      },
      {
         "name": "decathlon"
      }
   ],
   "paths": {
      "/coupon": {
         "get": {
            "summary": "Get a decathlon coupon",
            "description": "Get a coupon for decathlon",
            "operationId": "get-decathlon-coupon",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "title": "Coupon",
                           "type": "object",
                           "properties": {
                              "amount": {
                                 "type": "string",
                                 "enum": [
                                    "10€",
                                    "20€",
                                    "5€",
                                    "15€"
                                 ]
                              },
                              "code": {
                                 "type": "string",
                                 "enum": [
                                    "SPRINGOFF",
                                    "BACKTOSCHOOL",
                                    "XMASGIFT",
                                    "SUMMERTIME",
                                    "HLLWN",
                                    "MOTHERSDAY",
                                    "FATHERSDAY",
                                    "SWAG_ON",
                                    "JUSTDOIT"
                                 ]
                              },
                              "recipient": {
                                 "type": "string",
                                 "format": "email"
                              },
                              "validity": {
                                 "title": "DateRange",
                                 "type": "object",
                                 "properties": {
                                    "start": {
                                       "type": "string"
                                    },
                                    "end": {
                                       "type": "string"
                                    }
                                 }
                              },
                              "id": {
                                 "pattern": "[0-9]{7}",
                                 "type": "string"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "decathlonCoupon": {
            "title": "Coupon",
            "type": "object",
            "properties": {
               "id": {
                  "pattern": "[0-9]{7}",
                  "type": "string"
               },
               "code": {
                  "type": "string",
                  "enum": [
                     "SPRINGOFF",
                     "BACKTOSCHOOL",
                     "XMASGIFT",
                     "SUMMERTIME",
                     "HLLWN",
                     "MOTHERSDAY",
                     "FATHERSDAY",
                     "SWAG_ON",
                     "JUSTDOIT"
                  ]
               },
               "validity": {
                  "title": "DateRange",
                  "type": "object",
                  "properties": {
                     "start": {
                        "type": "string",
                        "x-faker": "date.past"
                     },
                     "end": {
                        "type": "string",
                        "x-faker": "date.future"
                     }
                  }
               },
               "amount": {
                  "type": "string",
                  "enum": [
                     "10€",
                     "20€",
                     "5€",
                     "15€"
                  ]
               },
               "recipient": {
                  "type": "string",
                  "format": "email",
                  "x-faker": "internet.email"
               }
            },
            "x-examples": {}
         },
         "decathlonDateRange": {
            "title": "DateRange",
            "type": "object",
            "properties": {
               "start": {
                  "type": "string",
                  "x-faker": "date.past"
               },
               "end": {
                  "type": "string",
                  "x-faker": "date.future"
               }
            }
         }
      },
      "securitySchemes": {
         "API Key": {
            "type": "apiKey",
            "description": "API Key",
            "name": "KeyId",
            "in": "header"
         }
      }
   },
   "x-axway": {
      "serviceType": "rest",
      "image": "/api/portal/v1.3/discovery/swagger/apis/fe63e826-2738-4512-81fb-439cd0ed0ebd/image",
      "basePaths": [
         "https://ptx136.demo.axway.com:8065"
      ],
      "expired": false,
      "retirementDate": 0,
      "corsEnabled": true,
      "availableSDK": {
         "ios-swift": "/discovery/sdk/fe63e826-2738-4512-81fb-439cd0ed0ebd/ios-swift",
         "titanium": "/discovery/sdk/fe63e826-2738-4512-81fb-439cd0ed0ebd/titanium",
         "android": "/discovery/sdk/fe63e826-2738-4512-81fb-439cd0ed0ebd/android",
         "nodejs": "/discovery/sdk/fe63e826-2738-4512-81fb-439cd0ed0ebd/nodejs"
      },
      "deprecated": false,
      "apiResourceType": "oas30",
      "state": "published",
      "id": "fe63e826-2738-4512-81fb-439cd0ed0ebd",
      "accessGrantedDate": 1625574052712,
      "tags": {
         "Generated": [
            "true"
         ],
         "Team": [
            "Loyalty"
         ]
      }
   },
   "servers": [
      {
         "url": "https://ptx136.demo.axway.com:8065/decathlon"
      }
   ]
}